{% extends 'layout.html'%}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid my-carousel">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'main/img/DC01.jpeg' %}" class="d-block w-100" alt="dc1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/img/DC02.jpeg' %}" class="d-block w-100" alt="dc2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/img/DC03.jpeg' %}" class="d-block w-100" alt="dc3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/click.png' %}"></p>
        <a class="card-text text-center" href="{% url 'providers' %}">Сервис провайдеры</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/monitor.png' %}"></p>
        <a class="card-text text-center" href="{% url 'test_isp' %}">Проверка доступности</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/inactive_intf.png' %}"></p>
        <a class="card-text text-center" href="{% url 'inactive_intf' %}">Неактивные интерфейсы</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/find_intf_ip.png' %}"></p>
        <a class="card-text text-center" href="{% url 'search_arp_by_mac' %}">Поиск ip адреса по mac</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/ipcalc.png' %}"></p>
        <a class="card-text text-center" href="{% url 'ip_calc' %}">IP калькулятор</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/switch_intf.png' %}"></p>
        <a class="card-text text-center" href="{% url 'switch_intf' %}">Интерфейс инфо</a>
      </div>
    </div>
  </div>
</div>

<div class="card text-bg-white">
  <img src="{% static 'main/img/clouds_about.jpeg' %}" class="card-img" alt="explanation">
  <div class="card-img-overlay">
    <h5 class="card-title">NetJet</h5>
    <p class="card-text">Netjet специально разработан для автоматизированного тестирования и анализа сети компании.
      Несколькими кликами на NJ портале, специалист может получить все данные в удобной форме с рекомендациями по
      дальнейшим действиям. Формируем готовые данные для работы с сервис провайдерами. С помощью готовых шаблонов и ИИ
      анализируем метрики работы сети.
      <img src="{% static 'main/img/DC04.jpeg' %}" class="card-img" alt="overlay_img_explanation"></p>
  </div>
</div>
{% endblock %}
