{% extends 'layout.html'%}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid my-carousel">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'main/img/oxygen_cod_3.jpeg' %}" class="d-block w-100" alt="dc1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/img/data_center_2.jpg' %}" class="d-block w-100" alt="dc2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/img/oxygen_cod_2.png' %}" class="d-block w-100" alt="dc3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/click.png' %}"></p>
        <p class="card-text text-center">Запуск системы одним кликом</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/looking_for.png' %}"></p>
        <p class="card-text text-center">Автоматическое тестирование</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/monitor.png' %}"></p>
        <p class="card-text text-center">Подробный отчет за секунды</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-center"><img src="{% static 'main/img/award.png' %}"></p>
        <p class="card-text text-center">Оперативное получение рекомендаций</p>
      </div>
    </div>
  </div>
</div>

<div class="card text-bg-white">
  <img src="{% static 'main/img/clouds_about.jpeg' %}" class="card-img" alt="explanation">
  <div class="card-img-overlay">
    <h5 class="card-title">NetJet</h5>
    <p class="card-text">Netjet специально разработан для автоматизированного тестирования и анализа сети в лаборатории
      компании. Это инструмент призван быть надежным, простым и оперативным. Буквально несколькими действиями на NJ
      портале, специалист может получить все данные в удобной форме с рекомендациями по дальнейшим действиям. Уже не
      нужно панически открывать инструкции по обработке сетевых оповещений и искать контакты провайдера. Получаем все в
      одном месте в пару кликов.
      <img src="{% static 'main/img/oxygen_cod_4.jpg' %}" class="card-img" alt="overlay_img_explanation"></p>
  </div>
</div>
{% endblock %}
