/* Select area */
h4 {
    font-family: "Courier New", Courier, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 150px;
    text-indent: 1%;
}

.form-select {
    font-family: "Courier New", Courier, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Select area */
/* Info area */
.lab_id {
    font-family: "Courier New", Courier, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 150px;
    margin-bottom: 50px;
}