{% extends 'main/layout.html'%}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'main/img/data_center_1.jpg' %}" class="d-block w-100" alt="dc1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/data_center_2.jpg' %}" class="d-block w-100" alt="dc2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/data_center_3.jpg' %}" class="d-block w-100" alt="dc3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6"><img src="{% static 'main/img/click.png' %}">Запуск системы кликом</div>
      <div class="col-lg-3 col-sm-6"><img src="{% static 'main/img/looking_for.png' %}">Автоматическое тестирование сети</div>
      <div class="col-lg-3 col-sm-6"><img src="{% static 'main/img/monitor.png' %}">Подробный отчет за секунды</div>
      <div class="col-lg-3 col-sm-6"><img src="{% static 'main/img/award.png' %}">Оперативное решение</div>
    </div>
  </div>
</section>
{% endblock %}
