{% extends "layout.html" %}
{% load static %}

{% block title %}Список статей{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block content %}
  <h1>Список статей</h1>
  {% for article in articles %}
  <div class="card" style="width: 18rem;">
    <img src="{{ article.images.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ article.name }}</h5>
      <p class="card-text text-truncate">{{ article.body|slice:":200" }}</p>
      <a href="{{ article.id }}" class="btn btn-primary">Подробнее</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
