{% extends "layout.html" %}
{% load static %}

{% block title %}{{ article.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block content %}
  <h1>{{ article.name }}</h1>
  <img src="{{ article.images.url }}">
  <div>{{ article.body }}</div>
{% endblock %}
