{% extends "layout.html" %}
{% load static %}

{% block title %}{{ article.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'article/css/article_show.css' %}">
{% endblock %}

{% block content %}
  <div class="article_detail">
    <img src="{{ article.images.url }}">
    <h1>{{ article.name }}</h1>
    <p>{{ article.body }}</p>
  </div>
{% endblock %}
