{% extends "layout.html" %}
{% load static %}

{% block title %}Сервис провайдеры{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tools/css/providers.css' %}">
{% endblock %}

{% block content %}
<select class="form-select" aria-label="Default select example">
  <option selected>Выберите региональную лабораторию</option>
    {% for lab in labs %}
      <option value="{{ lab.id }}">{{ lab.name }}</option>
    {% endfor %}
</select>
{% endblock %}
