{% extends "layout.html" %}
{% load static %}

{% block title %}Сервис провайдеры{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tools/css/providers.css' %}">
{% endblock %}

{% block content %}
<section class="providers-lab">
  <div style="background-image: url({% static 'tools/img/banner_test_labs.jpeg' %});
    background-size: cover;
    max-weight: 25%;
    max-height: 25%">
  <div class="lab-choose">
    <h4>Выберите лабораторию</h4>
    <form action="{% url 'providers' %}" method="post">
      {% csrf_token %}
      <select class="form-select w-25 providers" aria-label="Default select example" name="labs">
        {% for lab in labs %}
          <option value="{{ lab.name }}">{{ lab.name }}</option>
        {% endfor %}
      </select>
      <input type="submit" class="btn btn-secondary" value="Выбрать" />
    </form>
  </div>
    <div class="isp">
      <div class="card">
        <div class="card-header">
          Данные сервис провайдеров
        </div>
        <div class="card-body">
          {% if not isp_dict %}
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-5 bg-secondary"></span>
            </h5>
            <p class="card-text placeholder-wave">
              <span class="placeholder col-6 bg-secondary"></span>
              <span class="placeholder col-7 bg-secondary"></span>
              <span class="placeholder col-8 bg-secondary"></span>
            </p>
          {% endif %}
          {% if isp_dict %}
            {% for key, val in isp_dict.items %}
              <h5 class="card-title">{{ key }}</h5>
              <p class="card-text">{{ val.account }}</p>
              <p class="card-text">{{ val.portal_url }}</p>
              <p class="card-text">{{ val.noc_contact }}</p>
              <p class="card-text">{{ val.admin_contact }}</p>
              <p class="card-text">{{ val.comments }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
</section>
{% endblock %}
