{% extends "layout.html" %}
{% load static %}

{% block title %}Интерфейс коммутатора{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tools/css/switch_intf.css' %}">
{% endblock %}

{% block content %}
  <section class="switch_intf">
    <div style="background-image: url({% static 'tools/img/banner_test_labs.jpeg' %})">
      <div class="place-choice">
      <h4>Выберите площадку для проверки</h4>
        <form action="{% url 'switch_intf' %}" method="post">
          {% csrf_token %}
          <select class="form-select w-50" aria-label="Default select example" name="places">
            {% for place in places %}
              <option {% if place_choice == place.name %} selected {% endif %} value="{{ place.name }}">{{ place.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-secondary" value="Выбрать" />
        </form>
      </div>
      <div class="switch-choose">
        <h4>Выберите коммутатор</h4>
        <form action="{% url 'switch_intf' %}" method="post">
          {% csrf_token %}
          <input name="places" type="hidden" value="{{ place_choice|default_if_none:'' }}">
          <select class="form-select w-50" aria-label="Default select example" name="switches">
            {% for switch, value in place_switches_dict.items %}
              <option {% if switch_choice == switch %} selected {% endif %} value="{{ switch }}">{{ switch }}</option>
            {% endfor %}
          </select>
          {% if not place_switches_dict %}
          <input type="button" class="btn btn-secondary second-btn" disabled value="Выбрать">
          {% endif %}
          {% if place_switches_dict %}
          <input type="submit" class="btn btn-secondary second-btn" value="Выбрать" />
          {% endif %}
        </form>
      </div>
      <div class="intf-choose">
        <h4>Выберите интерфейс</h4>
        <form action="{% url 'switch_intf' %}" method="post">
          {% csrf_token %}
          <input name="switches" type="hidden" value="{{ switch_choice|default_if_none:'' }}">
          <input name="places" type="hidden" value="{{ place_choice|default_if_none:'' }}">
          <select class="form-select w-50" aria-label="Default select example" name="interfaces">
            {% for dev, val_list in switch_intf_json.items %}
              {% for el_0, el_1 in val_list %}
                  <option {% if interface_choice == el_0.port %} selected {% endif %} value="{{ el_1 }}">{{ el_0.port }}</option>
              {% endfor %}
            {% endfor %}
          </select>
          {% if not switch_intf_json %}
            <input type="button" class="btn btn-secondary second-btn" disabled value="Выбрать">
          {% endif %}
          {% if switch_intf_json %}
            <input type="submit" class="btn btn-secondary second-btn" value="Выбрать" />
          {% endif %}
        </form>
      </div>
      <div class="test-result">
        <div class="card">
          <div class="card-header">
            Интерфейс инфо
          </div>
          <div class="card-body">
            {% if not intf_selected %}
              <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            {% endif %}
            {% if user_message %}
              <p class="card-text">{{ user_message }}</p>
            {% endif %}
            {% if intf_selected %}
              <p class="card-text">Коммутатор {{ switch_choice }}</p>
              <p class="card-text">Порт: {{ intf_selected.port }}</p>
              <p class="card-text">Статус: {{ intf_selected.status }}</p>
              <p class="card-text">Влан: {{ intf_selected.vlan_id }}</p>
              <p class="card-text">Дуплекс: {{ intf_selected.duplex }}</p>
              <p class="card-text">Согласованная скорость: {{ intf_selected.speed }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}