{% extends "layout.html" %}
{% load static %}

{% block title %}Проверка доступности{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/brands.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome/css/solid.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'tools/css/test_isp.css' %}">
{% endblock %}

{% block content %}
<section class="test-lab">
  <div style="background-image: url({% static 'tools/img/banner_test_labs.jpeg' %});
      background-size: cover;
      max-weight: 25%;
      max-height: 25%">
  <div class="test-lab-choice">
    <h4>Выберите лабораторию для проверки сети</h4>
      <form action="{% url 'test_isp' %}" method="post">
        {% csrf_token %}
        <select class="form-select w-50" aria-label="Default select example" name="labs">
          {% for lab in labs %}
            <option value="{{ lab.name }}">{{ lab.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" class="btn btn-secondary" value="Выбрать" />
      </form>
  </div>
  <div class="test-isp">
    <h4>Выберите интернет провайдера</h4>
    <form action="{% url 'test_isp' %}" method="post">
      {% csrf_token %}
      <select class="form-select w-50" aria-label="Default select example" name="isp">
        {% for key, val in isp_dict.items %}
          {% for tag in val.tags %}
          <option value="{{ tag.slug }}">{{ key }}</option>
          {% endfor %}
        {% endfor %}
      </select>
      {% if not isp_dict%}
      <input type="button" class="btn btn-secondary" disabled value="Выбрать">
      <p>Данные загружаются, пожалуйста ожидайте</p>
      {% endif %}
      {% if isp_dict %}
      <input type="submit" class="btn btn-secondary" value="Выбрать" />
      {% endif %}
    </form>
  </div>
  {% if user_message %}
    <h1>{{user_message}}</h1>
  {% endif %}
  <div class="test-result">
    <div class="card">
      <div class="card-header">
        Результаты тестирования
      </div>
      <div class="card-body">
        {% if isp_choice %}
          <p class="card-text">ТЕСТ 1. Анализ состояния интерфейса на ядре сети, {{ lab_choice }}</p>
        {% endif %}
        {% if core_isp_main %}
          <p class="card-text">Проверка {{ core_isp_main.interface }}, описание {{ core_isp_main.description }}</p>
          <p class="card-text">Согласованная скорость {{ core_isp_main.speed }}</p>
          <p class="card-text">Состояние интерфейса {{ core_isp_main.intf_status }}</p>
          <p class="card-text">Состояние протокола {{ core_isp_main.prot_status }}</p>
          <p class="card-text">Количество входящих ошибок {{ core_isp_main.input_errors }}</p>
          <p class="card-text">Количество исходящих ошибок {{ core_isp_main.output_errors }}</p>
        {% endif %}
        {% if core_isp_backup %}
          <p class="card-text">Проверка {{ core_isp_backup.interface }}, описание {{ core_isp_backup.description }}</p>
          <p class="card-text">Согласованная скорость {{ core_isp_backup.speed }}</p>
          <p class="card-text">Состояние интерфейса {{ core_isp_backup.intf_status }}</p>
          <p class="card-text">Состояние протокола {{ core_isp_backup.prot_status }}</p>
          <p class="card-text">Количество входящих ошибок {{ core_isp_backup.input_errors }}</p>
          <p class="card-text">Количество исходящих ошибок {{ core_isp_backup.output_errors }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
